ul
  li
    if(title == "Home")
      a(href="/").active Home
    else 
      a(href="/") Home
  li
    if(title == "Our Services")
      a(href="/our-services").active Our Services
    else 
      a(href="/our-services") Our Services
  li
    if(title == "Contact Us")
      a(href="/contact-us").active Contact Us
    else 
      a(href="/contact-us") Contact Us
